#include "ADTMesinKar.h"

static char Pita_karakter[1024]="pitakar.txt";
static FILE *FILEKU;
static int retval;

void START(void)
{

    FILEKU  = fopen(Pita_karakter,"r"  );
    retval  = fscanf(FILEKU,"%c",&CC);
}

void ADV(void)
{
    retval  = fscanf(FILEKU,"%c",&CC);
    if  (CC==MARK)
    {
        fclose(FILEKU);
    }
}

boolean EOP()
{
    if(CC==MARK)
    {
        return true;
    }
    else
    {
        return false;
    }

}

int HitungVokal()
{
    if(CC=='a'||CC=='A')
    {
        i++;
    }
}

int HitungBlank()
{
    if(CC==' ')
    {
        j++;
    }
}

int HitungHuruf()
{
    if(CC!=' ')
    {
        k++;
    }
}

int HitungAN()
{
    if((Cc=='A' || Cc=='a')&&(CC=='N' || CC=='n'))
    {
        l++;
    }
    Cc=CC;
}


