//JUDUL :MENGUJI MESIN KARAKTER DAN FUNGSI LAINYA !
//AUTHOR : Irfan Dani Syahputra
//NIM : A11.2017.10235

#include "ADTMesinKar.h"

static char Pita_karakter[1024]="pitakar.txt";
static FILE *FILEKU;
static int retval;

void START()
{
        FILEKU  = fopen(Pita_karakter,"r"  );
        retval  = fscanf(FILEKU,"%c",&CC);
        printf("BERHASIL DI BUKA\n");
}

void ADV()
{
        retval  = fscanf(FILEKU,"%c",&CC);
        if  (CC==MARK){fclose(FILEKU);}
}

boolean EOP()
{
    if(CC==MARK)
    return true;
    else return false;
    //return (CC==MARK);
}

int HitungVokal()
{
    if(CC=='a'||CC=='A'||CC=='i'||CC=='I'||CC=='u'||CC=='U'||CC=='e'||CC=='E'||CC=='o'||CC=='O'){i++;}
}

int HitungBlank()
{
    if(CC==' '){j++;}
}

int HitungHuruf()
{
    if(CC!=' '){k++;}
}

int HitungAN()
{
    if((Cc=='A')&&(CC=='N')){l++;}
Cc=CC;
}


